@media (max-width:1500px){
    .header .header__selection{
        margin-left: 188px;
        margin-right: 188px; 
    }
    .body{
        padding-top: 193px;
        margin-left: 188px;
        margin-right: 188px;
    }
    .body .content .content__Keyfeatures {
        margin-top: 90px;    
    }
    .body .content .content__Rent {
        margin-top: 90px;
    }
    .body .content .content__ZUP {
        margin-top: 90px;
    }
    .body .content .content__Functional {
        margin-top: 90px;
    }
    .body .content .content__Sell1c {
        margin-top: 90px;
    }
    .body .content .content__Otchet {
        margin-top: 90px;

    }
    .body .content .content__Why {
        margin-top: 90px;
    }
    .body .content .content__Why .content__Why-items .Whypicture {
        width: 434px;
        height: 311px;
      }
      .body .content .content__Why .content__Why-items {

        justify-content: center;
      }
    .body .content .content__Maybe {
        margin-top: 90px;

    }
    .footer {
        margin-top: 138px;

    }
    .footer .footer__content {
        margin-left: 188px;
        margin-right: 188px;
    }
    .loower-footer .loower-footer-content {
        margin-left: 188px;
        margin-right: 188px;

      }
}
@media(max-width:1000px){
    
    .header .header__selection{
        margin-left: 64px;
        margin-right: 64px; 
    }
    .body{
        padding-top: 131px;
        margin-left: 64px;
        margin-right: 64px;
    }
    .body .content .content__Keyfeatures {
        margin-top: 70px;    
    }
    .body .content .content__Rent {
        margin-top: 70px;
    }
    .body .content .content__ZUP {
        margin-top: 70px;
    }
    .body .content .content__Functional {
        margin-top: 70px;
    }
    .body .content .content__Sell1c {
        margin-top: 70px;
    }
    .body .content .content__Otchet {
        margin-top: 70px;

    }
    .body .content .content__Why {
        margin-top: 70px;
    }
    .body .content .content__Maybe {
        margin-top: 70px;

    }
    .footer {
        margin-top: 70px;
        
    }
    .footer .footer__content {
        margin-left: 64px;
        margin-right: 64px;
    }
    .loower-footer .loower-footer-content {
        margin-left: 64px;
        margin-right: 64px;
      }
    
}
