%titul{
    font-family: PTSansCaption;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #333333;
}

@font-face {
    font-family: PTSans;
    src: url(../Fonts/PTSans.ttf);
}
@font-face {
    font-family: PTSansCaption;
    src: url(../Fonts/PTSansCaption.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
body{
   font-family: PTSans;
   
   color:#333333;
}
.header{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 84px;
    border-bottom: 1px solid;
    border-color:rgba(0, 0, 0, 0.15);;
    background-color: #ffffff;
    .header__selection{
        width: 100%;
        margin-left: 360px;
        margin-right: 360px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .header__menu{

        @media(max-width: 1200px){
            display: none;
        }
    }
    .header__search{
        @media(max-width: 1200px){
            display: none;
        }
    }
    .header__menu-item{
        padding: 15px;
        font-size: 15px;
        text-decoration: none;
        color:#333333;
    }


    .header__telephone{
        font-family: PTSansCaption;
        color: #6F6F6F;
    }
    .header__profile{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        

        .header__login{
            display: flex;
            justify-content: center;
            background-color: #ffffff;
            border: none;
            font-size:14px;
            color:#6F6F6F;
            font-weight: bold;
            vertical-align:middle;
        }
        .header__reg{
            font-size: 14px;
            background-color:#FF6600;
            width: 160px;
            height: 48px;
            border-radius: 50px;
            border-style: none;
            margin-left: 20px;
            color: #ffffff;
            font-family: PTSansCaption;
        }
    }
    .burger{
        margin-left: 31px;
        display: none;
        @media (max-width: 1000px) {
            display: block;
        }
    }
}
/*-------Header---------*/
/*-------Content---------*/
.body{
    padding-top: 221px;
    margin-left: 360px;
    margin-right: 360px;
    .content{
        width: 100%;
        /*-------1C: Зарплата и управление персоналом 8---------*/
        .content__zarplata{
            display: flex;
            width: 100%;
            .contentzarplatatext{
                .zarplataTitul{
                    @extend %titul;
                }
                .zarplataSell{
                    font-family: PTSansCaption;
                    font-size: 32px;
                    color:#FF6600;
                    margin:30px 0px 30px 0px;
                    font-weight: bold;
                }
                .zarplataMainT{
                    margin-top: 30px;
                    font-size: 20px;
                }
                .zarplataButton{
                    margin-top: 40px;
                    color:#ffffff;
                    width: 248px;
                    height: 48px;
                    border-radius:50px;
                    border-style: none;
                    background-color: #FF6600;
                    font-weight: bold;
                    font-family: PTSansCaption;
                    font-size: 14px;
                }
                .zarplatamini{
                    margin-top: 16px;
                    color: #999999;
                }
                @media (max-width: 1150px){
                    .zarplataTitul{
                        font-size: 24px;
                    }
                    .zarplataSell{
                        font-size: 24px;
                        margin:16px 0px 20px 0px;
                    }
                    .zarplataButton{
                        margin-top: 30px;
                    }
                }
            }
            .contentzarplatapicture{
                display: flex;
                justify-content: right;
                align-items: center;
                .imgzarp{
                    width: 25.2vw;
                    height: 19.18rem;
                } 
                @media (max-width: 1150px){
                    .imgzarp{
                        display: none;
                    }
                }             
            }
        }
        /*-------Основные возможности---------*/
        .content__Keyfeatures{
            margin-top: 110px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .KeyfeaturesTitul{
                @extend %titul;
                @media (max-width: 1000px){
                    font-size: 24px;
                }
            }
            .content__Keyfeatures-Keyfeatureslist{
                display: flex;
                justify-content: space-between;
                float:left;
                margin-top:18px;
                @media (max-width:1150px){
                    flex-wrap: wrap;

                }
                li{
                    padding-left: 32px;
                }
                .content__Keyfeatures-list{
                    list-style-image: url('../Img/MarkerList.svg');
                    padding-left: 32px;
                    .Keyfeaturesitem{
                        color: #333333;
                        font-size: 20px;
                        margin-top: 12px;
                        margin-bottom: 12px;
                    }
                }
            }

        }
        /*-------Преимущества аренды 1С в облаке---------*/
        .content__Rent{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 110px;

            .content__Rent-titul{
                @extend %titul;
                @media (max-width: 1000px){
                    font-size: 24px;
                }
            }
            .media{
                display: flex;
                flex-direction: column;
                .content__Rent-itemsup{
                    display: flex;
                    
                    width: 100%;
                    margin-top: 18px;
                    @media(max-width: 1000px){
                        flex-wrap: wrap;
                    }
                }
                
                .content__Rent-item{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        height: 140px;
                        width: 24rem;
                        margin:12px;
                        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
                        color: #333333;
                        font-size: 18px;
                        .content__Rent-img{
                            width: 3.75rem;
                            height: 3.75rem;
                        }
                        @media(max-width: 1000px){
                            width: 311px;
                        }
                        
                    }
                .content__Rent-itemsdown{
                    display: flex;
                    width: 100%;
                    @media(max-width: 1000px){
                        flex-wrap: wrap;
                        margin-top: 18px;
                    }
                }
                @media(max-width: 1000px){
                    flex-direction: row;
                }
            }
            }
        }
        /*-------Кому подойдет 1С: ЗУП 8?---------*/
        .content__ZUP{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 110px;
            .content__ZUP-titul{
                @extend %titul;
                @media (max-width: 1000px){
                    font-size: 24px;
                }
            }
            .content__ZUP-text{
                margin-top: 23px;
                margin-bottom: 40px;
                font-size: 18px;
                @media (max-width:1000px) {
                    font-size: 16px;
                }
            }
            .content__ZUP-pick{
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;

                .content__ZUP-menu{
                    display: flex;
                    justify-content: space-around;
                    overflow: hidden;
                    .content__ZUP-menu-button{
                        color: #333333;
                        background: #FFFFFF;
                        border: 2px solid #EAEAEA;
                        box-sizing: border-box;
                        border-radius: 39px;
                        font-family: PTSansCaption;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 18px;
                        
                        &:hover{
                            border-color: #FF6600;
                            color: #FF6600;
                        }
                    }
                }
                .content__ZUP-item{
                    margin-top: 40px;
                    justify-content: space-around;
                    @media(max-width: 1115px){
                            flex-wrap: wrap;
                            justify-content: start;
                    }
                    @media (max-width:1000px) {
                        .list-left{
                            margin-right: 100px;
                        }
                    }
                    .ZUP-text{
                        
                        font-family: PTSansCaption;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                    }
                    ul{
                        margin-top: 30px;
                        list-style-image: url(../Img/Vector.svg);
                        li{
                            margin-bottom: 20px;
                            padding-left: 32px;
                        }
                    }
                }
            }
        }
        /*-------Сравнение функционала версий ПРОФ и КОРП---------*/
        .content__Functional{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 110px;
            .content__Functional-titul{
                @extend %titul;
                @media (max-width: 1000px){
                    font-size: 24px;
                }
            }
            .content__Functional-table{
                display: flex;
                
                width: 100%;
                margin-top: 40px;
                box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
                border-radius: 8px 8px 10px 10px;
                table{
                    padding: 40px;
                    width: 100%;
                    tr{
                        td{
                            padding: 20px;
                            border-bottom: 1px  solid #EAEAEA;
                            
                        }
                        th{
                            padding: 20px;
                            text-align: center;
                            font-family: PTSansCaption;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 20px;
                        }
                        .check{
                            text-align: center;
                        }
                    }
                    @media (max-width: 1000px){
                        .mediadelete1000px{
                            display: none;
                        }
                    }
                }
            }
            .swiper{

                .swiper-wrapper{
                    width: 53.9rem;
                    height: 36.9rem;
                }

                .swiper-pagination{
                    color: #FF6600;
                    .swiper-pagination-bullet-active {
                        background: #FF6600;
                      }
                }
                @media (max-width: 1330px){
                    display: none;
                }
            }
        }
        // Цена на 1С: ЗУП 8 онлайн от 760 ₽ в месяц
        .content__Sell1c{ 
            display: flex;
            flex-direction: column;
            margin-top: 110px;
            width: 100%;
            .content__Sell1c-titul{
                font-family: PTSansCaption;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                color: #333333;
                em{
                    color: #FF6600;
                }
                @media (max-width: 1000px){
                    font-size: 24px;
                }
            }
            .content__Sell1c-item{

                .content__Sell1c-sendingdata{
                    width: 100%;
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    @media (max-width:1000px) {
                        margin-top: 30px;
                    }
                    .sendingdata-input{
                        display: flex;
                        justify-content: space-between;
                        @media (max-width:1000px) {
                            flex-direction: column;
                        }
                    }
                    .input{
                        width:32%;
                        height: 4rem;
                        border: 1px solid #B6B6B6;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 27px;
                        @media (max-width:1000px) {
                            width: 100%;
                            margin-bottom: 10px;
                            padding: 10px;
                            height: 40px;
                        }
                    }
                    .under-input{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color:#6F6F6F;
                    }
                    .sendingdata-down{
                    margin-top: 48px;
                    height: 48px;
                    display: flex;
                        .sendingdata-button{
                            color:#ffffff;
                            width: 319px;
                            height: 48px;
                            border-radius:50px;
                            border-style: none;
                            background-color: #FF6600;
                            font-weight: bold;
                            font-family: PTSansCaption;
                            font-size: 14px;
                        }
                        .sendingdata-down-text{
                            padding-left: 30px;
                            color: #6F6F6F;
                            .sendingdata-href{
                                color: #FF6600;
                                text-decoration-color: #FF6600;
                            }
                        }
                    }
                } 
            }
        }
        .content__Otchet{
            margin-top: 110px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .content__Otchet-titul{
                @extend %titul;
                @media (max-width: 1000px){
                    font-size: 24px;
                }
            }
            .content__Otchet-item{
                margin-top: 30px;
                .content__Otchet-list{
                    list-style-image: url('../Img/MarkerList.svg');
                    padding-left: 32px;
                    font-size: 20px;
                    vertical-align: middle;
                    .content__Otchet-list-item{
                        padding-left: 32px;
                        padding-bottom: 12px;
                    }
                }
            }
        }
        .content__Why{
            margin-top: 110px;
            .content__Why-titul{
                @extend %titul;
                @media (max-width: 1000px){
                    font-size: 24px;
                }
            }
            .content__Why-items{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                @media(max-width:1000px){
                    flex-wrap: wrap;
                }
                .Whypicture{
                    width: 464px;
                    height: 332px;
                }
                .content__Why-item{
                    display: flex;
                    flex-direction: column;
                    width: 15.62rem;
                    padding: 22px 44px 22px 0px;
                    font-size: 1.25rem;
                    span{
                        font-family: PTSansCaption;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 32px;
                        color: #178A00;
                    }
                    @media (max-width:1000px) {
                        font-size: 18px;
                        span{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .content__Maybe{
            margin-top: 110px;
            display: flex;
            flex-direction: column;
            .content__Maybe-titul{
                @extend %titul;
                @media (max-width: 1000px){
                    font-size: 24px;
                }
            }
            .content__Maybe-items{
                margin-top: 83px;
                display: flex;
                justify-content: space-around;
                width: 95%;
                @media (max-width: 1000px){
                    .mediadelete1000px{
                        display: none;
                    }
                    .content__Maybe-item{
                        width: 40%;
                    }
                    margin-top: 29px;
                }
                .content__Maybe-item{
                    width: 33%;
                    .maybe-titul{
                        display: flex;
                        align-items: center;
                        padding-bottom: 25px;
                        font-family: PTSansCaption;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        img{
                            padding-right: 25px;
                        }
                        @media (max-width: 1000px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

.footer{
    margin-top: 100px;
    display: flex;
    width: 100%;
    .footer__content{
        width: 100%;
        margin-left: 360px;
        margin-right: 360px;
        .footer__content-up{
            display: flex;
            justify-content: space-between;
            .footer__content-up-item{
                margin-top: 64px;
                display: flex;
                flex-direction: column;
                span{
                    margin-bottom: 50px;
                    font-weight: bold;
                }
                a{
                    text-decoration: none;
                    color: #333333;
                }
            }
            @media(max-width:1000px){
                    display: none;
            }
        }
        .footer__content-down{
            margin-top: 83px;
            margin-bottom: 21px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .content-down-left{
                display: flex;
                justify-content: space-between;
                .footer__content-down-text{
                    display:flex;
                    flex-direction: column;
                    width:100%;
                    @media (max-width:1000px) {
                        text-align: right;
                        margin-left: 100px;
                    }
                }
                
            }
            .social{
                display: flex;
                justify-content: space-between;
            }
            .downloads{
                display: flex;
                justify-content: space-between;
                @media (max-width:1000px) {
                    margin-left: 23px;
                }
            }
            @media(max-width:1000px){
                flex-wrap: wrap;
                .footer__content-down-text{
                    justify-content: space-between;
                    width:100%;
                }
        }
        }
    }
}
.loower-footer{
    display: flex;  
    
    background-color: #F4F4F4;
    padding: 23px;
    .loower-footer-content{
        width: 100%;
        margin-left: 360px;
        margin-right: 360px;
        display: flex;
        justify-content: space-between;
    }
}
