@charset "UTF-8";
.body .content__Maybe .content__Maybe-titul, .body .content__Why .content__Why-titul, .body .content__Otchet .content__Otchet-titul, .body .content__Functional .content__Functional-titul, .body .content__ZUP .content__ZUP-titul, .body .content .content__Rent .content__Rent-titul, .body .content .content__Keyfeatures .KeyfeaturesTitul, .body .content .content__zarplata .contentzarplatatext .zarplataTitul {
  font-family: PTSansCaption;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #333333;
}

@font-face {
  font-family: PTSans;
  src: url(../Fonts/PTSans.ttf);
}
@font-face {
  font-family: PTSansCaption;
  src: url(../Fonts/PTSansCaption.ttf);
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: PTSans;
  color: #333333;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 84px;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.header .header__selection {
  width: 100%;
  margin-left: 360px;
  margin-right: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .header .header__menu {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header .header__search {
    display: none;
  }
}
.header .header__menu-item {
  padding: 15px;
  font-size: 15px;
  text-decoration: none;
  color: #333333;
}
.header .header__telephone {
  font-family: PTSansCaption;
  color: #6F6F6F;
}
.header .header__profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header__profile .header__login {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  color: #6F6F6F;
  font-weight: bold;
  vertical-align: middle;
}
.header .header__profile .header__reg {
  font-size: 14px;
  background-color: #FF6600;
  width: 160px;
  height: 48px;
  border-radius: 50px;
  border-style: none;
  margin-left: 20px;
  color: #ffffff;
  font-family: PTSansCaption;
}
.header .burger {
  margin-left: 31px;
  display: none;
}
@media (max-width: 1000px) {
  .header .burger {
    display: block;
  }
}

/*-------Header---------*/
/*-------Content---------*/
.body {
  padding-top: 221px;
  margin-left: 360px;
  margin-right: 360px;
  /*-------Кому подойдет 1С: ЗУП 8?---------*/
  /*-------Сравнение функционала версий ПРОФ и КОРП---------*/
}
.body .content {
  width: 100%;
  /*-------1C: Зарплата и управление персоналом 8---------*/
  /*-------Основные возможности---------*/
  /*-------Преимущества аренды 1С в облаке---------*/
}
.body .content .content__zarplata {
  display: flex;
  width: 100%;
}
.body .content .content__zarplata .contentzarplatatext .zarplataSell {
  font-family: PTSansCaption;
  font-size: 32px;
  color: #FF6600;
  margin: 30px 0px 30px 0px;
  font-weight: bold;
}
.body .content .content__zarplata .contentzarplatatext .zarplataMainT {
  margin-top: 30px;
  font-size: 20px;
}
.body .content .content__zarplata .contentzarplatatext .zarplataButton {
  margin-top: 40px;
  color: #ffffff;
  width: 248px;
  height: 48px;
  border-radius: 50px;
  border-style: none;
  background-color: #FF6600;
  font-weight: bold;
  font-family: PTSansCaption;
  font-size: 14px;
}
.body .content .content__zarplata .contentzarplatatext .zarplatamini {
  margin-top: 16px;
  color: #999999;
}
@media (max-width: 1150px) {
  .body .content .content__zarplata .contentzarplatatext .zarplataTitul {
    font-size: 24px;
  }
  .body .content .content__zarplata .contentzarplatatext .zarplataSell {
    font-size: 24px;
    margin: 16px 0px 20px 0px;
  }
  .body .content .content__zarplata .contentzarplatatext .zarplataButton {
    margin-top: 30px;
  }
}
.body .content .content__zarplata .contentzarplatapicture {
  display: flex;
  justify-content: right;
  align-items: center;
}
.body .content .content__zarplata .contentzarplatapicture .imgzarp {
  width: 25.2vw;
  height: 19.18rem;
}
@media (max-width: 1150px) {
  .body .content .content__zarplata .contentzarplatapicture .imgzarp {
    display: none;
  }
}
.body .content .content__Keyfeatures {
  margin-top: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .body .content .content__Keyfeatures .KeyfeaturesTitul {
    font-size: 24px;
  }
}
.body .content .content__Keyfeatures .content__Keyfeatures-Keyfeatureslist {
  display: flex;
  justify-content: space-between;
  float: left;
  margin-top: 18px;
}
@media (max-width: 1150px) {
  .body .content .content__Keyfeatures .content__Keyfeatures-Keyfeatureslist {
    flex-wrap: wrap;
  }
}
.body .content .content__Keyfeatures .content__Keyfeatures-Keyfeatureslist li {
  padding-left: 32px;
}
.body .content .content__Keyfeatures .content__Keyfeatures-Keyfeatureslist .content__Keyfeatures-list {
  list-style-image: url("../Img/MarkerList.svg");
  padding-left: 32px;
}
.body .content .content__Keyfeatures .content__Keyfeatures-Keyfeatureslist .content__Keyfeatures-list .Keyfeaturesitem {
  color: #333333;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.body .content .content__Rent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 110px;
}
@media (max-width: 1000px) {
  .body .content .content__Rent .content__Rent-titul {
    font-size: 24px;
  }
}
.body .content .content__Rent .media {
  display: flex;
  flex-direction: column;
}
.body .content .content__Rent .media .content__Rent-itemsup {
  display: flex;
  width: 100%;
  margin-top: 18px;
}
@media (max-width: 1000px) {
  .body .content .content__Rent .media .content__Rent-itemsup {
    flex-wrap: wrap;
  }
}
.body .content .content__Rent .media .content__Rent-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  width: 24rem;
  margin: 12px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-size: 18px;
}
.body .content .content__Rent .media .content__Rent-item .content__Rent-img {
  width: 3.75rem;
  height: 3.75rem;
}
@media (max-width: 1000px) {
  .body .content .content__Rent .media .content__Rent-item {
    width: 311px;
  }
}
.body .content .content__Rent .media .content__Rent-itemsdown {
  display: flex;
  width: 100%;
}
@media (max-width: 1000px) {
  .body .content .content__Rent .media .content__Rent-itemsdown {
    flex-wrap: wrap;
    margin-top: 18px;
  }
}
@media (max-width: 1000px) {
  .body .content .content__Rent .media {
    flex-direction: row;
  }
}
.body .content__ZUP {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 110px;
}
@media (max-width: 1000px) {
  .body .content__ZUP .content__ZUP-titul {
    font-size: 24px;
  }
}
.body .content__ZUP .content__ZUP-text {
  margin-top: 23px;
  margin-bottom: 40px;
  font-size: 18px;
}
@media (max-width: 1000px) {
  .body .content__ZUP .content__ZUP-text {
    font-size: 16px;
  }
}
.body .content__ZUP .content__ZUP-pick {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.body .content__ZUP .content__ZUP-pick .content__ZUP-menu {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.body .content__ZUP .content__ZUP-pick .content__ZUP-menu .content__ZUP-menu-button {
  color: #333333;
  background: #FFFFFF;
  border: 2px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 39px;
  font-family: PTSansCaption;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.body .content__ZUP .content__ZUP-pick .content__ZUP-menu .content__ZUP-menu-button:hover {
  border-color: #FF6600;
  color: #FF6600;
}
.body .content__ZUP .content__ZUP-pick .content__ZUP-item {
  margin-top: 40px;
  justify-content: space-around;
}
@media (max-width: 1115px) {
  .body .content__ZUP .content__ZUP-pick .content__ZUP-item {
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media (max-width: 1000px) {
  .body .content__ZUP .content__ZUP-pick .content__ZUP-item .list-left {
    margin-right: 100px;
  }
}
.body .content__ZUP .content__ZUP-pick .content__ZUP-item .ZUP-text {
  font-family: PTSansCaption;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
.body .content__ZUP .content__ZUP-pick .content__ZUP-item ul {
  margin-top: 30px;
  list-style-image: url(../Img/Vector.svg);
}
.body .content__ZUP .content__ZUP-pick .content__ZUP-item ul li {
  margin-bottom: 20px;
  padding-left: 32px;
}
.body .content__Functional {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 110px;
}
@media (max-width: 1000px) {
  .body .content__Functional .content__Functional-titul {
    font-size: 24px;
  }
}
.body .content__Functional .content__Functional-table {
  display: flex;
  width: 100%;
  margin-top: 40px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 10px 10px;
}
.body .content__Functional .content__Functional-table table {
  padding: 40px;
  width: 100%;
}
.body .content__Functional .content__Functional-table table tr td {
  padding: 20px;
  border-bottom: 1px solid #EAEAEA;
}
.body .content__Functional .content__Functional-table table tr th {
  padding: 20px;
  text-align: center;
  font-family: PTSansCaption;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
.body .content__Functional .content__Functional-table table tr .check {
  text-align: center;
}
@media (max-width: 1000px) {
  .body .content__Functional .content__Functional-table table .mediadelete1000px {
    display: none;
  }
}
.body .content__Functional .swiper .swiper-wrapper {
  width: 53.9rem;
  height: 36.9rem;
}
.body .content__Functional .swiper .swiper-pagination {
  color: #FF6600;
}
.body .content__Functional .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #FF6600;
}
@media (max-width: 1330px) {
  .body .content__Functional .swiper {
    display: none;
  }
}
.body .content__Sell1c {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  width: 100%;
}
.body .content__Sell1c .content__Sell1c-titul {
  font-family: PTSansCaption;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #333333;
}
.body .content__Sell1c .content__Sell1c-titul em {
  color: #FF6600;
}
@media (max-width: 1000px) {
  .body .content__Sell1c .content__Sell1c-titul {
    font-size: 24px;
  }
}
.body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  .body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata {
    margin-top: 30px;
  }
}
.body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .sendingdata-input {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .sendingdata-input {
    flex-direction: column;
  }
}
.body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .input {
  width: 32%;
  height: 4rem;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 27px;
}
@media (max-width: 1000px) {
  .body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    height: 40px;
  }
}
.body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .under-input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #6F6F6F;
}
.body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .sendingdata-down {
  margin-top: 48px;
  height: 48px;
  display: flex;
}
.body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .sendingdata-down .sendingdata-button {
  color: #ffffff;
  width: 319px;
  height: 48px;
  border-radius: 50px;
  border-style: none;
  background-color: #FF6600;
  font-weight: bold;
  font-family: PTSansCaption;
  font-size: 14px;
}
.body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .sendingdata-down .sendingdata-down-text {
  padding-left: 30px;
  color: #6F6F6F;
}
.body .content__Sell1c .content__Sell1c-item .content__Sell1c-sendingdata .sendingdata-down .sendingdata-down-text .sendingdata-href {
  color: #FF6600;
  -webkit-text-decoration-color: #FF6600;
          text-decoration-color: #FF6600;
}
.body .content__Otchet {
  margin-top: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .body .content__Otchet .content__Otchet-titul {
    font-size: 24px;
  }
}
.body .content__Otchet .content__Otchet-item {
  margin-top: 30px;
}
.body .content__Otchet .content__Otchet-item .content__Otchet-list {
  list-style-image: url("../Img/MarkerList.svg");
  padding-left: 32px;
  font-size: 20px;
  vertical-align: middle;
}
.body .content__Otchet .content__Otchet-item .content__Otchet-list .content__Otchet-list-item {
  padding-left: 32px;
  padding-bottom: 12px;
}
.body .content__Why {
  margin-top: 110px;
}
@media (max-width: 1000px) {
  .body .content__Why .content__Why-titul {
    font-size: 24px;
  }
}
.body .content__Why .content__Why-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1000px) {
  .body .content__Why .content__Why-items {
    flex-wrap: wrap;
  }
}
.body .content__Why .content__Why-items .Whypicture {
  width: 464px;
  height: 332px;
}
.body .content__Why .content__Why-items .content__Why-item {
  display: flex;
  flex-direction: column;
  width: 15.62rem;
  padding: 22px 44px 22px 0px;
  font-size: 1.25rem;
}
.body .content__Why .content__Why-items .content__Why-item span {
  font-family: PTSansCaption;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #178A00;
}
@media (max-width: 1000px) {
  .body .content__Why .content__Why-items .content__Why-item {
    font-size: 18px;
  }
  .body .content__Why .content__Why-items .content__Why-item span {
    font-size: 20px;
  }
}
.body .content__Maybe {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .body .content__Maybe .content__Maybe-titul {
    font-size: 24px;
  }
}
.body .content__Maybe .content__Maybe-items {
  margin-top: 83px;
  display: flex;
  justify-content: space-around;
  width: 95%;
}
@media (max-width: 1000px) {
  .body .content__Maybe .content__Maybe-items {
    margin-top: 29px;
  }
  .body .content__Maybe .content__Maybe-items .mediadelete1000px {
    display: none;
  }
  .body .content__Maybe .content__Maybe-items .content__Maybe-item {
    width: 40%;
  }
}
.body .content__Maybe .content__Maybe-items .content__Maybe-item {
  width: 33%;
}
.body .content__Maybe .content__Maybe-items .content__Maybe-item .maybe-titul {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  font-family: PTSansCaption;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.body .content__Maybe .content__Maybe-items .content__Maybe-item .maybe-titul img {
  padding-right: 25px;
}
@media (max-width: 1000px) {
  .body .content__Maybe .content__Maybe-items .content__Maybe-item .maybe-titul {
    font-size: 16px;
  }
}

.footer {
  margin-top: 100px;
  display: flex;
  width: 100%;
}
.footer .footer__content {
  width: 100%;
  margin-left: 360px;
  margin-right: 360px;
}
.footer .footer__content .footer__content-up {
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .footer__content-up .footer__content-up-item {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.footer .footer__content .footer__content-up .footer__content-up-item span {
  margin-bottom: 50px;
  font-weight: bold;
}
.footer .footer__content .footer__content-up .footer__content-up-item a {
  text-decoration: none;
  color: #333333;
}
@media (max-width: 1000px) {
  .footer .footer__content .footer__content-up {
    display: none;
  }
}
.footer .footer__content .footer__content-down {
  margin-top: 83px;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .footer__content .footer__content-down .content-down-left {
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .footer__content-down .content-down-left .footer__content-down-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 1000px) {
  .footer .footer__content .footer__content-down .content-down-left .footer__content-down-text {
    text-align: right;
    margin-left: 100px;
  }
}
.footer .footer__content .footer__content-down .social {
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .footer__content-down .downloads {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .footer .footer__content .footer__content-down .downloads {
    margin-left: 23px;
  }
}
@media (max-width: 1000px) {
  .footer .footer__content .footer__content-down {
    flex-wrap: wrap;
  }
  .footer .footer__content .footer__content-down .footer__content-down-text {
    justify-content: space-between;
    width: 100%;
  }
}

.loower-footer {
  display: flex;
  background-color: #F4F4F4;
  padding: 23px;
}
.loower-footer .loower-footer-content {
  width: 100%;
  margin-left: 360px;
  margin-right: 360px;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=Style.css.map */